html{
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
body{
    background-color:#E35205;
    justify-content: center;
}
/* ----------------------------nav-------------------------- */
nav{
    width: 80vw;
    height: 5vw;
    background-color: rgb(255, 255, 255);
    position: fixed;
    top: 20;
    margin-left: 9vw;
    z-index: 1000;
    border-radius: 1vw;
}
nav ul{
    font-size: 2vw;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style-type: none;
    align-items: center;
}
nav li{
    margin-top: 20px;
    margin-left: 50px;
    top: 20vw;
    color: #666;
}
.dropdown-content {
    display: none; /* Hide dropdown by default */
    position: absolute;
    top: 100%; /* Position below the main item */
    left: 0;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.dropdown-content li {
    padding: 10px 20px;
    white-space: nowrap;
}

.dropdown-content li a {
    color: #666;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f0f0f0;
}

.dropdown:hover .dropdown-content {
    display: block; /* Show dropdown on hover */
}


