@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@300&display=swap');
html{
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif;
}
body{
    background-color:#09090b;
    /* justify-content: center; */
    color: #ffffff;
}

/* ----------------------------Navbar----------------------------------- */
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1001;
}
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style: none;
    margin: 0;
    padding: 20px 0;
    column-gap: 100px;
    background-color: #18181b;
    box-shadow:  0 0 50px 0 rgba(0, 0, 0, 0.2) ;
}
nav a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    outline: none;
}
nav a:hover{
    transform: scale(1.1);
    color: #3aba42;
    transition: ease-in-out 0.2s;
}
/* -----------------------------home---------------------------------- */
.home{
    padding: 270px 0;
    margin-left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
.home p{
    font-size: 50px;
    font-weight: bold;
}
.home .name{
    letter-spacing: 8px;
    width: 100%;
    overflow: hidden;
    border-right: 3px solid;
    white-space: nowrap;
    animation: 
        typing 3s  steps(19),
        cursor .4s step-end infinite alternate;
}
@keyframes cursor{
    50%{border-color: transparent;}
}
@keyframes typing{
    from{width: 0}
}
/* ----------------------------about------------------------------------ */
.about{
    padding: 270px 0;
    max-width: 900px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
    gap: 50px;
}

.about img{
    width: 300px;
    height: 380px;
    object-fit: cover;
    border-radius: 20px;
}
.about ul{
    background-color: #18181b;
    border-radius: 20px;
    padding: 60px 40px;
}
.about li{
    list-style-type: none;
    font-weight: 500;
    font-size: 17px;
    white-space: nowrap;
}
/* --------------------Experiences-------------------------- */
.experiences{
    margin: 800px 0;
    max-width: 1024px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
.experiences h1{
    text-align: center;
}
.experiences .all-cer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    /* grid-template-columns: 220px 220px 220px 220px; */
    width: 100%;
    gap: 40px;
}
.all-cer img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.all-cer img:hover{
    transform: scale(1.2);
    transition: ease-in-out 0.2s;
}
.all-cer img:active{
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}
.all-cer p{
    font-family: "Anuphan", sans-serif;
}
.ap img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.ap img:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
}
.ap img:active{
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}
.ap p{
    font-family: "Anuphan", sans-serif;
}
.projects{
    margin: 100px 0;
    max-width: 1024px;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
}
.all-project{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 40px;
    width: 100%;
}
.all-project img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
}
.all-project p{
    text-align: center;
    font-family: "Anuphan", sans-serif;
}
.all-project img:hover{
    transform: scale(1.02);
    transition: ease-in-out 0.2s;
}
.all-project img:active{
    transform: scale(0.9);
    transition: ease-in-out 0.2s;
}
/* -------------------------------------contacts---------------------------------- */
/* .contacts{
    margin: 800px 0;
    position: relative;
    right: 50%;
    transform: translateX(50%);
} */
.socialscontainer{
    /* position: absolute; */
    margin: 4300px 0 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    z-index: 1000;
    right: 50%;
    /* transform: translateX(50%); */
}
.socialscontainer a{
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
    width: 64px;
    height: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
    display: grid;
    place-items: center;
    font-weight: bold;
}
.socialscontainer a svg{
    height: 32px;
    fill: #18181b;
}
.socialscontainer a::before{
    content: attr(data-social);
    position: absolute;
    background-color: var(--accent-color);
    color: #ffffff;
    text-decoration: none;
    padding: 0.5em 1em;
    border-radius: 100px;
    box-shadow: 0 5px 10px rgba(255, 255, 255, 0.2);
    transform: translateY(-30px) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socialscontainer a:hover{
    background-color: var(--accent-color);
    fill: white;
}
.socialscontainer a:hover svg{
    fill: white;
}
.socialscontainer a::after{
    content: '';
    position: absolute;
    height: 0;
    width: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid var(--accent-color);
    transform: translateY(0) rotate(25deg);
    opacity: 0;
    transition: 200ms cubic-bezier(.42,0,.44,1.68);
}
.socialscontainer a:hover::before{
    transform: translateY(-65px) rotate(0);
    opacity: 1;
}
.socialscontainer a:hover::after{
    transform: translateY(-42px) rotate(0);
    opacity: 1;
}